<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br" dir="ltr">
	<head>
		<!-- Meta Tags Necessárias -->
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead class="thead-dark">
							<tr>
								<th>ID</th>
								<th>NOME</th>
								<th>ACRÔNIMO</th>
								<th>O QUE É?</th>
								<th>FUNÇÃO</th>
								<th>COMO UTILIZAR?</th>
								<th>CURIOSIDADES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="equipment: ${list}">
								<th th:text="${equipment.id}"></th>
								<td th:text="${equipment.name}"></td>
								<td th:text="${equipment.acronym}"></td>
								<td th:text="${equipment.whatis}"></td>
								<td th:text="${equipment.function}"></td>
								<td th:text="${equipment.howtouse}"></td>
								<td th:text="${equipment.curiosities}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
